<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a routerLink="/" class="navbar-brand">Recipe Book</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a routerLink="/recipes">Recipes</a></li>
        <li routerLinkActive="active"><a routerLink="/shopping-list">Shopping List</a></li>
        <li routerLinkActive="active"><a routerLink="/eCommerceSite">e-Commerce Site</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a style="cursor: pointer;" class="dropdown-toggle" role="button">Manage <span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a style="cursor: pointer;">Save Data</a></li>
            <li><a style="cursor: pointer;">Fetch Data</a></li>
          </ul>
        </li>
        <li routerLinkActive="active">
            <a routerLink="/shoppingCart">
              <img src="https://d1nhio0ox7pgb.cloudfront.net/_img/g_collection_png/standard/256x256/shopping_cart_full.png" 
              alt="" class="img-responsive"
              style="max-height:25px;">
            </a>
          </li>
      </ul>
    </div>
  </div>
</nav>
